@inherits LayoutComponentBase

<MatThemeProvider Theme="@theme1">

<div class="home-grid">
    <div id="nav-bar" class="layout">
        <NavMenu />
    </div>
    <div id="content" class="layout">
        @Body
    </div>
    <div id="right-bar" class="layout">

    </div>
</div>
</MatThemeProvider>

@code
{
    MatTheme theme1 = new MatTheme()
    {
        Primary = MatThemeColors.Purple._500.Value,
        Secondary = MatThemeColors.Purple._500.Value
    };
}