@inherits LayoutComponentBase

<div class="home-grid">
    <div id="nav-bar" class="layout">
        <NavMenu />
    </div>
    <div id="content" class="layout">
        @Body
    </div>
    <div id="right-bar" class="layout">

    </div>
</div>
