
<div class="side-nav-grid">
    @foreach (var item in NavItems)
    {
        <NavLink class="nav-link nav-item" href="" Match="NavLinkMatch.All">
            @item
        </NavLink>
    }
</div>


@code {
    private string[] NavItems = new string[] { "Home","Explore","Notifications" };
}
