
<div class="side-nav-grid">
    <MatNavMenu>
        @foreach (var item in NavItems)
        {
            <MatNavItem href="" Match="NavLinkMatch.All">
                @item
            </MatNavItem>
        }
    </MatNavMenu>
    
</div>


@code {
    private string[] NavItems = new string[] { "Home","Explore","Notifications" };
}
